{{ define "js"}}
<script type="text/javascript" src="/bundle/js/datatables.min.js"></script>
<script src="/bundle/js/highcharts/highcharts-full-v9.min.js"></script>
<script src="/bundle/js/highcharts/highcharts-global-options.js"></script>
{{end}}

{{ define "css"}}
    <link rel="stylesheet" type="text/css"
    href="/bundle/css//datatables.min.css"/>
    <link rel="stylesheet" href="/bundle/css/pools.css"></link>
{{end}}

{{ define "content"}}
<section>
    <div class="container">
        <div style="padding-top: 2rem;" class="row-5 justify-content-center align-items-center">
            <div class="col p-1">
                {{template "depositDistributionChart" .Data}}
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12">
                {{ template "bannerPoolsServices" }}
            </div>
       </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between" style="width: 100%;">
                    <div class="row" style="width: 42%;">
                        <span class="col-md-3 col-sm-12 pr-0" data-toggle="tooltip" data-placement="top" title="Staked ETH">{{.Data.StakedEther}}</span><span class="d-none d-md-inline">/</span><span class="col-md-3 col-sm-12 pr-0" id="ethCsupply" data-toggle="tooltip" data-placement="top" title="Circulating ETH">114,788,539 ETH</span>
                    </div>
                    <span>Currently Staked: <span id="staked-percent"></span></span>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success staked-progress" role="progressbar" aria-valuenow="40"
                        aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div id="poolTable" class="table-responsive card px-0 py-1 mb-2">
                    <table class="table" id="staking-pool-table">
                        <thead>
                            <tr>
                                <th>Service</th>
                                <th>Type</th>
                                <th>ETH1 Addr</th>
                                <th>Deposit (ETH)</th>
                                <th>Total Income (ETH)</th>
                                <th>State</th>
                                <th data-toggle="tooltip" data-original-title="Average Attestation Effectiveness">Avg. Att. Eff.</th>
                                <th data-toggle="tooltip" data-original-title="Average of Current Streak of all validators">Streak</th>
                                <!--<th>Tslfu</th> -->
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <span class="px-2" id="lastUpdate"></span>
            </div>
        </div>
    </div>
    <div id="poolPopUP" style="position: absolute; width: 70%; z-index: 100; top: 15%; right: 15%;" class="card p-1 d-none">
        <div class="container-fluid" style="width: 100%;">
            <div class="row m-0 mb-1" style="width: 100%;">
                <button id="poolPopUpBtn" class="col-2 btn btn-sm btn-primary">Close</button>
                <span class="col p-1 mx-1" style="color: gray;"><i class="fas fa-info-circle"></i> Inactive validators are ordered by 31 day balance, highest first</span>
            </div>
            <div class="row popupMain p-0 m-0 justify-content-center" style="height: 70vh; width: 100%; overflow: auto;"></div>
        </div>
    </div>
</section>

<div id="tempcont" class=""></div>
<script src="/bundle/js/jquery.min.js"></script>
<script src="/bundle/js/luxon.min.js"></script>
<script>
    const POOL_INFO = {{.Data.PoolInfo}}
    const STAKED_ETH = {{.Data.StakedEther}}
    const ETH_SUPPLY = {{.Data.EthSupply}}
    const LAST_UPDATE = {{.Data.LastUpdate}}

    // console.log(LAST_UPDATE, luxon.DateTime.fromMillis(LAST_UPDATE).toRelative())
    $("#lastUpdate").html(`Last Updated: ${luxon.DateTime.fromMillis(LAST_UPDATE*1000).toRelative()}`)
</script>
<script src="/bundle/js/pools.js"></script>
{{end}}